*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #101828;
    color: #D1D5DC;
}

.ctn {
    background-color: #1f1f20;
    margin: 20px auto;
    padding: 8px 0 10px;
    width: 560px;
    min-height: 595px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}

.calc-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 8px;
    border-bottom: 2px solid rgb(23 24 26);
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 0;
}

.header-box a {
    text-decoration: none;
    color: #D1D5DC;
    font-size: 24px;
}

.h-right a {
    color: #58A6FF;
}

.h-right a:hover {
    color: #1F6FEB;
    text-decoration: underline;
}
.h-left a {
    color: #58A6FF;
}

#undo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calc-mode {
    font-size: 16px;
    color: #D1D5DC;
    font-weight: 900;
    padding: 4px 4px;
    border: none;
    background-color: #1f1f20;
    cursor: pointer;

}
.results {
    width: 100%;
    height: 200px;
    flex-basis: auto;
    flex-shrink: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.result-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #2d2d2e;
    padding: 10px 0;
}

.result-box span {
    flex: 1;
    font-weight: 900;
    font-size: 18px;
}

#working {
   flex: 2;
}

#answer {
    text-align: right;
}

.display {
    border-top: 2px solid rgb(23 24 26);
    border-bottom: 2px solid rgb(23 24 26);
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;

}

div.box {
    padding-left: 14px;
    padding-right: 14px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-top: 18px;
    padding-bottom: 10px;
   
}

#del {
    background-color: #691010;
}
#del:hover {
    background-color: #8b1a1a;
}

#equals-btn {
    background-color: #105d14;
}

#equals-btn:hover {
    background-color: #1a8b1a;
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.keys {
    flex-grow: 1;
    flex-basis: auto;
    width: 60px;
    height: 55px;
    border: none;
    border-radius: 8px;
    background-color: rgba(45, 45, 46, 0.5);
    transition: background-color 0.3s ease;
    color: #D1D5DC;
    font-size: 18px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.keys:hover {
    background-color: rgba(45, 45, 46, 0.9);
}

div.bold {
    font-size: 24px;
    font-weight: 900;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    color: #D1D5DC; 
    background-color: rgba(45, 45, 46, 0.5);
}


.btn:hover {
    background-color: rgba(45, 45, 46, 0.9)
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #D1D5DC;
}